<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>AssisTimer</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        </head>
        <body>
            <div class="container">
                <div class="title">
                    <h1>AssisTimer</h1>
                </div>
                <div class="section">
                    <div class="subtitle">
                        <h2>Timer - Réglez votre rythme de travail</h2>
                    </div>
                    <div class="field">
                        <div class="columns">
                            <div class="column is-one-quarter">
                                <div class="label">
                                    Pour quel projet travaillez vous?
                                </div>
                                <div class="control">
                                    <div class="select">
                                        <select>
                                            <option></option>
                                            <option>Nouveau projet</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-one-third">
                                <div class="label">
                                    Nom de la tâche:
                                </div>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Ex: Correction / Organiasation / ect.">
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="label">
                            Je commence :
                        </div>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option></option>
                                    <option>Au déclenchement du Timer</option>
                                    <option>A un moment que je précise</option>
                                </select>
                            </div>
                        </div>
                        <div class="label">
                            Temps de travail en minutes:
                        </div>
                        <div class="control">
                            <input class="input" type="text" placeholder="rentrez un chiffre entre 5 à 45">
                        </div>
                        <div class="label">
                            Temps de pause en minutes:
                        </div>
                        <div class="control">
                            <input class="input" type="text" placeholder="rentrez un chiffre entre 5 à 15">
                        </div>
                        <div class="label">
                            Combien de cycle voulez-vous faire:<br/>
                            <div class="content is-small">
                                (Un cycle comprend le temps de travail et sa pause, sauf pour le denier cycle où la pause ne compte pas)
                            </div>
                        </div>
                        <div class="control">
                            <input class="input" type="text" placeholder="rentrez un chiffre entre 1 et 4">
                        </div>
                        -->
                        
                    </div>
                </div>
                
            </div>
            
            
        
        </body>
    </html>